// PX to EM conversion
@function b-em($value-px) {
  $value-em: $value-px / 16;

  @return $value-em * 1em;
}

// Sizes
$site-max-width: 1000px;

// Breakpoint desktop extra-large
$b-xlarge: b-em(1300);

// Breakpoint desktop
$b-desk: b-em(1000);

// Breakpoint tablette
$b-tab: b-em(767) b-em(999);

// Breakpoint mobile
$b-mob: b-em(0) b-em(767);

$b-tab-desk: b-em(767);
